{% extends "nav.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center">Lista de Citas</h1>
  
  <div class="d-flex justify-content-between mb-3">
    <a href="{% url 'cita_create' %}" class="btn btn-primary">Crear Nueva Cita</a>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Paciente</th> <!-- Cambié "Usuario" a "Paciente" para mayor claridad -->
          <th scope="col">Horario</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha de Creación</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for cita in citas %}
          <tr>
            <!-- Mostrar nombre completo del usuario (nombre y apellido) -->
            <td>{{ cita.usuario.first_name }} {{ cita.usuario.last_name }}</td>
            <td>{{ cita.horario }}</td>
            <td>{{ cita.get_estado_display }}</td>
            <td>{{ cita.fecha_creacion }}</td>
            <td>
              <a href="{% url 'cita_detail' cita.pk %}" class="btn btn-info btn-sm">Ver</a>
              {% if request.user.profile.tipo_usuario != 'medico' %}
              <a href="{% url 'cita_edit' cita.pk %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'cita_delete' cita.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5" class="text-center">No hay citas disponibles.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
