{% extends "nav.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h1 class="text-danger mb-4">Eliminar Cita</h1>
                    <p class="lead">¿Estás seguro de que deseas eliminar la cita para el usuario <strong>{{ object.usuario.first_name }} {{ object.usuario.last_name }}</strong>?</p>

                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'cita_list' %}" class="btn btn-secondary btn-lg">Cancelar</a>
                            <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
