{% extends "nav.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Lista de Historiales Clínicos</h1>
        
        <ul class="list-group mt-4">
            {% for historial in historiales_clinicos %}
                <li class="list-group-item">
                    <a href="{% url 'historial_detail' historial.pk %}">
                        <strong>Historial de {{ historial.paciente }}</strong> - {{ historial.fecha }}
                    </a>
                </li>
            {% empty %}
                <li class="list-group-item">No hay historiales clínicos disponibles.</li>
            {% endfor %}
        </ul>
        
        <div class="mt-4">
            <a href="{% url 'historial_create' %}" class="btn btn-primary">Crear nuevo historial clínico</a>
        </div>
    </div>
{% endblock %}
