{% extends "nav.html" %}

{% block content %}
  <h1>Lista de Horarios</h1>
  {% if request.user.profile.tipo_usuario == 'administrador' %}
  <a href="{% url 'horario_create' %}" class="btn btn-primary mb-3">Crear Horario</a>
  {% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Médico</th>
        <th>Día</th>
        <th>Horario</th>
        <th>Disponible</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for horario in horarios %}
        <tr>
          <td>{{ horario.medico }}</td>
          <td>{{ horario.dia }}</td>
          <td>{{ horario.get_horario_display }}</td>
          <td>{{ horario.disponible|yesno:"Sí,No" }}</td>
          <td>
            <a href="{% url 'horario_detail' horario.pk %}" class="btn btn-info btn-sm">Ver</a>
            {% if request.user.profile.tipo_usuario == 'administrador' %}
            <a href="{% url 'horario_edit' horario.pk %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'horario_delete' horario.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No hay horarios disponibles.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
